body{
    display: flex;
}

.container{
    border: 1px solid;
    display: flex;
    margin: 1px;
    flex-wrap: wrap;
}


.element{
    width: 200px;
    height: 100px;
    background-color: plum;
    border-color: purple;
    border: 1px solid;
}

