.block{
    background-color: mediumaquamarine;
    display: block;
    height: 100px;
    width: 100px;
}

.inline{
    background-color: gray;
    display: inline;
    height: 100px;
    width: 100px;
}

.inline-block{
    background-color: palevioletred;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.none{
    background-color: lightgreen;
    display: none;
    height: 100px;
    width: 100px;
}

.img{
    height: 100px;
    width: 100px;
}

.img2{
    height: 200px;
    width: 200px;
}

.boxsizing{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.img3{
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 5px solid;
    box-sizing: border-box;
}